@import "../../styles";

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  @media (min-width: 1100px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1500px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (min-width: 1900px) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media (min-width: 2300px) {
    grid-template-columns: repeat(7, 1fr);
  }
  @media (min-width: 2700px) {
    grid-template-columns: repeat(8, 1fr);
  }

  .project {
    padding: $d_padding_w;
    background: $c_project;
    text-align: center;
    cursor: pointer;

    .project__preview {
      height: 200px;
      border-radius: $d_radius $d_radius 0 0;
      margin: 0 0 $d_padding_w;
      background: $c_project_preview;

      .project__icon {
        font-size: 50px;
        color: rgba($c_project_meta, .2);
        padding: 40px 0 20px;
      }

      .project__meta {
        padding: 0 20px;
        font-size: 12px;
        line-height: 1.4;
        color: $c_project_meta;
      }
    }

    .project__name {
      font-size: 16px;
      padding-bottom: 8px;
    }

    .project__updated {
      font-size: 12px;
      color: $c_project_meta;
    }
  }
}

.header__plugin {
  position: absolute;
  background: #222738;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #111729;
  top: $d_header + 10px;
  z-index: 1;
  right: $d_padding_w;
  width: 300px;

  strong, p {
    display: block;
    padding-bottom: 8px;
  }

  p {
    line-height: 1.4;
  }

  .button {
    cursor: pointer;
    background: #FEBC32;
    color: #111729;

    i {
      margin-right: 8px;
    }
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
