<div class="interface__header">
  <div class="header__breadcrumbs">
    <ul>
      <li class="breadcrumbs__item header__logo" routerLink="/projects"><strong>Sketch</strong> inspector</li>
    </ul>
  </div>
  <div class="header__pagetitle">
    My projects
  </div>
  <div class="header__actions">
    <div class="button" (click)="logout()">Logout</div>
    <label class="button" for="newfile" *ngIf="!projectService.loading">Upload design</label>
    <label class="button" *ngIf="projectService.loading"><div class="spinner"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div></div>Uploading...</label>
  </div>
  <div class="header__plugin" *ngIf="projectService.showSketchModal">
    <strong>Download our Sketch plugin</strong>
    <p>Sketch inspector uses a Sketch plugin to export all design assets.</p>
    <a class="button" href="{{ sketchPluginUrl }}"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
    <div class="close" (click)="closeSketchModal()"><i class="fa fa-times" aria-hidden="true"></i></div>
  </div>

  <input type="file" name="file" id="newfile" (change)="projectService.newProject($event)" style="display: none;" />
</div>

<div class="interface__container">
  <div class="projects" *ngIf="projects">
    <div class="project" *ngFor="let project of projects | reverse; let i = index;" (click)="showProject(project)">
      <div class="project__preview">
        <div class="project__icon"><i class="fa fa-folder-open-o" aria-hidden="true"></i></div>
        <div class="project__meta">This {{ niceWord(i) }} project is last updated {{ project.updated | timeago }} ago and contains {{ project.pages | pagecount }}.</div>
      </div>
      <div class="project__info">
        <h3 class="project__name">{{ project.name | decode }}</h3>
        <span class="project__updated" title="{{ project.created | date:'HH:mm - dd/MM/yy' }}">created {{ project.created | timeago }} ago</span>
      </div>
    </div>
  </div>
</div>
