<div class="sidebar__box properties shadows" *ngIf="layer?.style | hasKey: 'shadows'">
  <ng-container *ngIf="hasEnabledShadows(layer)">
    <div class="sidebar__title">Shadows</div>
    <ng-container *ngFor="let shadow of layer.style.shadows">
      <div class="propertygroup" *ngIf="shadow.isEnabled">
        <div class="propertygroup__label">Offset</div>
        <div class="property">
          <span class="property__value" ngxClipboard [cbContent]="(shadow.offsetX | round ) + 'px'">{{ shadow.offsetX | round }}px</span>
          <span class="property__extra">X</span>
        </div>
        <div class="property">
          <span class="property__value" ngxClipboard [cbContent]="(shadow.offsetY | round ) + 'px'">{{ shadow.offsetY | round }}px</span>
          <span class="property__extra">Y</span>
        </div>
      </div>
      <div class="propertygroup" *ngIf="shadow.isEnabled">
        <div class="propertygroup__label">Effect</div>
        <div class="property">
          <span class="property__value" ngxClipboard [cbContent]="(shadow.blurRadius | round ) + 'px'">{{ shadow.blurRadius | round }}px</span>
          <span class="property__extra">Blur</span>
        </div>
        <div class="property">
          <span class="property__value" ngxClipboard [cbContent]="(shadow.spread | round ) + 'px'">{{ shadow.spread | round }}px</span>
          <span class="property__extra">Spread</span>
        </div>
      </div>
      <div class="propertygroup" *ngIf="shadow.isEnabled">
        <div class="propertygroup__label">Color</div>
        <div class="property property--color property--full">
          <span class="property__color" [ngStyle]="getBackgroundColorStyle(shadow.color | NSColorToHex)"></span>
          <span class="property__value" ngxClipboard [cbContent]="(shadow.color | NSColorToHex)">{{ shadow.color | NSColorToHex }} {{ shadow.color.alpha * 100 | round }}%</span>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<div class="sidebar__box properties shadows" *ngIf="layer?.style | hasKey: 'innerShadows'">
  <ng-container *ngIf="hasEnabledInnerShadows(layer)">
    <div class="sidebar__title">Inner shadows</div>
    <ng-container *ngFor="let shadow of layer.style.innerShadows">
      <div class="propertygroup" *ngIf="shadow.isEnabled">
        <div class="propertygroup__label">Offset</div>
        <div class="property">
          <span class="property__value" ngxClipboard [cbContent]="(shadow.offsetX | round ) + 'px'">{{ shadow.offsetX | round }}px</span>
          <span class="property__extra">X</span>
        </div>
        <div class="property">
          <span class="property__value" ngxClipboard [cbContent]="(shadow.offsetY | round ) + 'px'">{{ shadow.offsetY | round }}px</span>
          <span class="property__extra">Y</span>
        </div>
      </div>
      <div class="propertygroup" *ngIf="shadow.isEnabled">
        <div class="propertygroup__label">Effect</div>
        <div class="property">
          <span class="property__value" ngxClipboard [cbContent]="(shadow.blurRadius | round ) + 'px'">{{ shadow.blurRadius | round }}px</span>
          <span class="property__extra">Blur</span>
        </div>
        <div class="property">
          <span class="property__value" ngxClipboard [cbContent]="(shadow.spread | round ) + 'px'">{{ shadow.spread | round }}px</span>
          <span class="property__extra">Spread</span>
        </div>
      </div>
      <div class="propertygroup" *ngIf="shadow.isEnabled">
        <div class="propertygroup__label">Color</div>
        <div class="property property--color property--full">
          <span class="property__color" [ngStyle]="getBackgroundColorStyle(shadow.color | NSColorToHex)"></span>
          <span class="property__value" ngxClipboard [cbContent]="(shadow.color | NSColorToHex)">{{ shadow.color | NSColorToHex }} {{ shadow.color.alpha * 100 | round }}%</span>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
