@import "../../styles";

.group {
  > span {
    &:before {
      background: url('../../assets/images/icon-group.svg') no-repeat;
      background-position: left center;
    }

    &:after {
      background: url('../../assets/images/arrow.svg') no-repeat;
      background-position: left center;
    }
  }

  &.open {
    > span:after {
      transform: rotate(90deg);
      top: 21px;
      right: $d_padding_w + 2px;
    }
  }
}

.rectangle {
  > span {
    &:before {
      background: url('../../assets/images/icon-rectangle.svg') no-repeat;
      background-position: left center;
    }
  }
}

.oval {
  > span {
    &:before {
      background: url('../../assets/images/icon-oval.svg') no-repeat;
      background-position: left center;
    }
  }
}

.triangle {
  > span {
    &:before {
      background: url('../../assets/images/icon-rectangle.svg') no-repeat;
      background-position: left center;
    }
  }
}

.star {
  > span {
    &:before {
      background: url('../../assets/images/icon-rectangle.svg') no-repeat;
      background-position: left center;
    }
  }
}

.shapePath {
  > span {
    &:before {
      background: url('../../assets/images/icon-rectangle.svg') no-repeat;
      background-position: left center;
    }
  }
}

.text {
  > span {
    &:before {
      background: url('../../assets/images/icon-text.svg') no-repeat;
      background-position: left center;
    }
  }
}

.image,
.slice,
.symbolInstance,
.bitmap {
  > span {
    &:before {
      background: url('../../assets/images/icon-image.svg') no-repeat;
      background-position: left center;
    }
  }
}

.highlight {
  border: 1px solid red;
}
