<ul *ngFor="let layer of layers | reverse">
  <li *ngIf="isVisible(layer)" [attr.data-objectid]="layer.do_objectID" [ngClass]="getClassname(layer)">
    <span (click)="selectLayer($event, layer)" (mouseover)="highlightHotspot($event, layer, true, false)" (mouseout)="highlightHotspot($event, layer, false, false)">{{ layer.name | decode }}</span>

    <app-viewer-layers *ngIf="layer.layers" [layers]="layer.layers"></app-viewer-layers>
  </li>
</ul>
