@import "../../styles";

.artboard {
  > span {
    &:before {
      background: url('../../assets/images/icon-group.svg') no-repeat;
      background-position: left center;
    }
  }
}

.design {
  margin: 0 auto;

  .design__background img {
    width: 100%;
    background-color: #ffffff;
  }

  .design__outlines {
    position: absolute;
    width: 100%;
    height: 100%;

    .outline--x {
      display: none;
      position: relative;
      width: 100%;
      height: 0;
      left: 0;
      border-top: 1px dashed red;
      border-bottom: 1px dashed red;
    }
    .outline--y {
      display: none;
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      border-left: 1px dashed red;
      border-right: 1px dashed red;
    }
    .measure--x,
    .measure--y {
      display: none;
      position: absolute;
      text-align: center;

      span {
        display: inline-block;
        background: red;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        padding: 0 5px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 2px;
      }
    }

    .measure--x {
      margin-top: -30px;

      span {
        position: relative;

        &:after {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px 3px 0 3px;
          border-color: #ff0000 transparent transparent transparent;
          bottom: -3px;
          left: calc(50% - 3px);
        }
      }
    }

    .measure--y {
      margin-left: -10px;

      span {
        position: relative;
        left: -100%;

        &:after {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 3px 0 3px 4px;
          border-color: transparent transparent transparent #ff0000;
          right: -3px;
          top: calc(50% - 3px);
        }
      }
    }
  }

  .comments {
    position: absolute;
    width: 100%;
    height: 100%;

    .commentHotspot {
      position: absolute;
      display: none;
      width: 70px;
      height: 70px;

      &:before {
        background: #ffffff;
        border: 12px solid #222738;
        box-sizing: content-box;
        position: absolute;
        content: '';
        border-radius: 50%;
        width: 6px;
        height: 6px;
        top: 20px;
        left: 20px;
      }

      &.highlight {
        &:before {
          border-color: $c_accent;
        }
      }
    }
  }
}

.interface__sidebar {

  .sidebar__box.layers {
    position: relative;
    height: calc(100vh - #{$d_header} - #{$d_sidebar_item});
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 0;
  }

  .layercontrol {
    position: absolute;
    width: $d_sidebar;
    bottom: 0;
    background: $c_sidebar_title;
    height: $d_sidebar_item;
    line-height: $d_sidebar_item;
    padding: 0 $d_padding_w;

    .layercontrol__label {
      display: inline-block;
      margin-right: 30px;
      font-weight: bold;
    }
    .layercontrol__value {
      display: inline-block;
      margin-right: 15px;
      cursor: pointer;
    }
  }

  .sidebar__box.comments {
    margin-bottom: 0;
  }

  .commentlist {
    position: relative;
    height: calc(100vh - #{$d_header} - #{$d_sidebar_item});
    overflow-x: hidden;
    overflow-y: scroll;
    padding: $d_padding_w;

    li {
      display: block;
      background: $c_property;
      border: 1px solid $c_property_border;
      border-radius: 8px 8px 8px 0;
      margin-bottom: $d_padding_w;
      padding: 8px;

      &.highlight {
        background: $c_sidebar_title;
      }

      p {
        display: block;
        line-height: 1.6;
        margin-bottom: 0;
        padding: 10px 0;
      }

      strong {
        display: block;
        line-height: 25px;

        img {
          display: block;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          margin-right: 8px;
          float: left;
        }
      }

      .comment__meta {
        @include clearfix;

        .comment__timeago {
          display: block;
          float: left;
          line-height: 1.4;
          font-style: italic;
          color: rgba(#ffffff, .6);
        }

        .comment__answer {
          display: block;
          float: right;
          line-height: 1.4;
          color: rgba(#ffffff, .6);
          cursor: pointer;

          i {
            margin-right: 4px;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .reply {
        margin-top: $d_padding_w / 2;

        strong {
          line-height: 1.4;
        }
      }
    }
  }

  .newcomment {
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding-bottom: $d_padding_w;
    margin-bottom: 0;
    width: $d_sidebar;
    background: $c_back_sidebar;

    textarea {
      display: block;
      background: $c_property;
      width: 100%;
      height: 80px;
      line-height: 1.6;
      padding: 8px;
      font-size: 12px;
      text-align: left;
      border-radius: 3px;
      color: #ffffff;
      overflow: hidden;
      border: 1px solid $c_property_border;
      outline: none;
      margin: $d_padding_w 0;

      &:hover,
      &:focus {
        border: 1px solid $c_property_border_hover;
      }
    }
  }
}


.sidebar__box.code {
  position: absolute;
  width: $d_sidebar;
  bottom: 0;
  margin-bottom: 0;

  ol {
    list-style: none;
    padding: 3px 10px;
    background: $c_code;

    li {
      line-height: 1.4;
      padding: 3px 0;
    }
  }
}
