<div class="interface__header">
  <div class="header__breadcrumbs">
    <ul>
      <li class="breadcrumbs__item header__logo" routerLink="/projects"><strong>Sketch</strong> inspector</li>
      <li class="breadcrumbs__item" [routerLink]="['/projects', projectService.selectedProject?.$key]" *ngIf="projectService.selectedProject">{{ projectService.selectedProject?.name | decode }}</li>
      <li class="breadcrumbs__item" [routerLink]="['/projects', projectService.selectedProject?.$key]" *ngIf="selectedPage">{{ selectedPage?.name | decode }}</li>
      <li class="breadcrumbs__item" *ngIf="selectedArtboardInfo">{{ selectedArtboardInfo?.name | decode }}</li>
    </ul>
  </div>
  <div class="header__pagetitle">
    <span *ngIf="selectedArtboardInfo">{{ selectedArtboardInfo?.name | decode }}</span>
  </div>
  <div class="header__actions">
    <a class="button" (click)="enableComments()" *ngIf="!modeComment">Comments</a>
    <a class="button" (click)="enableInspector()" *ngIf="!modeInspect">Inspect</a>
    <a class="button" routerLink="/projects">My designs</a>
  </div>
</div>
<div class="interface__container">
  <div class="interface__sidebar interface__sidebar--left" *ngIf="modeInspect">
    <div class="sidebar__box layers" *ngIf="selectedArtboardData">
      <div class="sidebar__title">Layers</div>
      <app-viewer-layers [layers]="selectedArtboardData.layers"></app-viewer-layers>
    </div>
    <div class="layercontrol">
      <div class="layercontrol__label">Layers</div>
      <div class="layercontrol__value" (click)="openAllLayer()">Open all</div>
      <div class="layercontrol__value" (click)="closeAllLayer()">Close all</div>
    </div>
  </div>

  <div class="interface__sidebar interface__sidebar--right" *ngIf="modeInspect">
    <app-viewer-properties [layer]="projectService.selectedLayer"></app-viewer-properties>

    <div class="sidebar__box code" *ngIf="projectService.layerCss">
      <div class="sidebar__title">CSS code</div>
      <ol>
        <li *ngFor="let line of projectService.layerCss" ngxClipboard [cbContent]="line.label + ': ' + line.value + ';'">{{ line.label }}: {{ line.value }};</li>
      </ol>
    </div>
  </div>

  <div class="interface__sidebar interface__sidebar--right" *ngIf="modeComment">
    <div class="sidebar__box comments">
      <div class="sidebar__title">Comments</div>
      <ul class="commentlist">
        <ng-container *ngFor="let comment of comments | reverse">
          <li *ngIf="!comment.answerId" [id]="comment.$key" (mouseover)="highlightComment(comment)" (mouseout)="highlightComment(comment)">
            <strong><img [src]="comment.user.avatar" />{{ comment.user.name }}</strong>
            <p>{{ comment.content }}</p>
            <div class="comment__meta">
              <div class="comment__timeago">{{ comment.created | timeago }} ago</div>
              <div class="comment__answer" (click)="replyComment(comment)"><i class="fa fa-reply" aria-hidden="true"></i> Reply</div>
            </div>

            <ng-container *ngFor="let reply of comments">
              <li class="reply" *ngIf="comment.$key === reply.answerId">
                <strong>{{ reply.user.name }}</strong>
                <p>{{ reply.content }}</p>
                <div class="comment__meta">
                  <div class="comment__timeago">{{ reply.created | timeago }} ago</div>
                </div>
              </li>
            </ng-container>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="sidebar__box newcomment" *ngIf="newCommentForm">
      <div class="sidebar__title">New comment <div class="sidebar__title-close" (click)="closeForm()"><i class="fa fa-times" aria-hidden="true"></i></div></div>
      <div class="sidebar__content">
        <textarea placeholder="Be clear, be nice" [(ngModel)]="newCommentContent"></textarea>
        <div class="button" (click)="postComment()">Post comment</div>
        <p *ngIf="newCommentMessage">{{ newCommentMessage }}</p>
      </div>
    </div>
  </div>

  <div class="interface__viewer">
    <div class="interface__viewer-inner" (click)="unselectLayer()">
      <div class="design" *ngIf="selectedArtboardData" [ngStyle]="getArtboardStyle(selectedArtboardData)">
        <app-viewer-hotspots [layers]="selectedArtboardData" *ngIf="modeInspect"></app-viewer-hotspots>

        <div class="design__outlines" *ngIf="projectService.selectedLayer && modeInspect">
          <div class="outline--x" [ngStyle]="getOutlineStyles(projectService.selectedLayer, 'x')"></div>
          <div class="outline--y" [ngStyle]="getOutlineStyles(projectService.selectedLayer, 'y')"></div>
          <div class="measure--x" [ngStyle]="getOutlineStyles(projectService.selectedLayer, 'mx')"><span>{{ getOutlineStyles(projectService.selectedLayer, 'mxvalue') | round }}px</span></div>
          <div class="measure--y" [ngStyle]="getOutlineStyles(projectService.selectedLayer, 'my')"><span>{{ getOutlineStyles(projectService.selectedLayer, 'myvalue') | round }}px</span></div>
        </div>

        <div class="comments" (click)="newComment($event)" *ngIf="modeComment">
          <ng-container *ngFor="let comment of comments">
            <span class="commentHotspot" *ngIf="!comment.answerId" [ngStyle]="getCommentStyle(comment)" (click)="viewThread($event)" [id]="comment.$key" (mouseover)="highlightComment(comment)" (mouseout)="highlightComment(comment)"></span>
          </ng-container>

          <span class="commentHotspot" [ngStyle]="newCommentHotspot"></span>
        </div>

        <div class="design__background">
          <img [src]="selectedArtboardInfo.url" />
        </div>
      </div>
    </div>
  </div>
</div>
