<div class="sidebar__box properties borders" *ngIf="layer?.style | hasKey: 'borders'">
  <ng-container *ngIf="hasEnabledBorders(layer)">
    <div class="sidebar__title">Borders</div>
    <ng-container *ngFor="let border of layer.style.borders">
      <div class="propertygroup" *ngIf="border.isEnabled">
        <div class="propertygroup__label">Border</div>
        <div class="property property--color property--full">
          <span class="property__color" [ngStyle]="getBackgroundColorStyle(border.color | NSColorToHex)"></span>
          <span class="property__value" ngxClipboard [cbContent]="(border.thickness) + 'px solid ' + (border.color | NSColorToHex)">{{ border.thickness}}px solid {{ border.color | NSColorToHex }}</span>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
