<div class="sidebar__box properties fills" *ngIf="layer.style | hasKey: 'fills'">
  <ng-container *ngIf="hasEnabledFills(layer)">
    <div class="sidebar__title">Fills</div>
    <div class="propertygroup" *ngFor="let fill of layer.style.fills">
      <!-- Solid color -->
      <ng-container *ngIf="fill.fillType == 0">
        <div class="propertygroup__label">Color</div>
        <div class="property property--color property--full">
          <span class="property__color" [ngStyle]="getBackgroundColorStyle('solid', fill.color | NSColorToHex)"></span>
          <span class="property__value" ngxClipboard [cbContent]="(fill.color | NSColorToHex)">{{ fill.color | NSColorToHex }} {{ fill.color.alpha * 100 | round }}%</span>
        </div>
      </ng-container>

      <!-- Gradient -->
      <ng-container *ngIf="fill.fillType == 1">
        <div class="propertygroup__label">Gradient</div>
        <div class="property property--color property--full" *ngFor="let stop of fill.gradient.stops">
          <span class="property__color" [ngStyle]="getBackgroundColorStyle('solid', stop.color | NSColorToHex)"></span>
          <span class="property__value" ngxClipboard [cbContent]="(stop.color | NSColorToHex)">{{ stop.color | NSColorToHex }} {{ stop.color.alpha * 100 | round }}%</span>
          <span class="property__extra">{{ stop.position * 100 | round}}%</span>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
