@import "../../styles";

:host {
  background: $c_start_back;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  background: $c_start_box;
  width: 100%;
  max-width: 660px;
  padding: 40px 60px;
  border-radius: $d_radius;

  .start__logo {
    margin-bottom: 30px;

    i {
      font-size: 50px;
      color: #4E525F;
    }
  }

  .start__intro {
    p {
      font-size: 16px;
      line-height: 1.8;
    }
  }

  .start__features {
    margin: 20px 0 40px;

    a {
      font-size: 16px;
      color: #ffffff;

      &:hover i {
        padding-left: 12px;
      }
    }

    i {
      position: relative;
      color: #4E525F;
      font-size: 12px;
      top: -2px;
      padding-left: 8px;
      transition: .2s all;
    }
  }

  .start__buttons {
    margin-top: 40px;

    .button {
      margin-right: 20px;
    }
  }
}
