<div class="start">
  <div class="start__logo">
    <i class="fa fa-diamond" aria-hidden="true"></i>
  </div>

  <div class="start__intro">
    <p>
      Sketch Inspector is an online tool that allows designers to collect feedback quickly and easily on their Sketch designs and enabling developers to transform the design into a working version faster than ever.
    </p>
  </div>

  <div class="start__buttons">
    <div class="button button--icon button--google" (click)="loginGoogle()"><i class="fa fa-google" aria-hidden="true"></i> Google</div>
    <div class="button button--icon button--github" (click)="loginGithub()"><i class="fa fa-github" aria-hidden="true"></i> Github</div>
    <p *ngIf="message">{{ message }}</p>
  </div>
</div>
