@import "../../styles";

.interface__header {
  .header__pagetitle {
    input {
      width: 350px;
      height: $d_button;
      line-height: $d_button;
      text-align: center;
      background: none;
      border-radius: 3px;
      border: 1px solid $c_button;
      color: $c_text;
      font-size: 16px;
      outline: none;

      &:hover,
      &.focus {
        border: 1px solid lighten($c_button, 10);
      }
    }
  }
}

.pages {
  .page, .shortcode {
    display: inline-block;
    padding: 0 5px;
    margin-right: 10px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;

    &.active,
    &:hover {
      border-bottom: 2px solid $c_accent;
    }
  }

  .shortcode {
    float: right;
    border-bottom: 2px solid $c_accent;

    i.fa {
      margin-right: 8px;
      color: rgba($c_text, .6);
    }

    &.copied {
      border-color: #09e272;
    }

    &.red {
      border-color: #c40020;
    }
  }
}

.artboards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 20px;

  @media (min-width: 1100px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1500px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (min-width: 1900px) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media (min-width: 2300px) {
    grid-template-columns: repeat(7, 1fr);
  }
  @media (min-width: 2700px) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.artboard {
  max-width: 350px;
  padding: $d_padding_w;
  background: $c_project;
  text-align: center;
  border-radius: $d_radius $d_radius 0 0;
  cursor: pointer;

  .artboard__preview {
    height: 200px;
    border-radius: $d_radius $d_radius 0 0;
    margin: 0 0 $d_padding_w;
    background: $c_project_preview;
    overflow: hidden;
    object-fit: cover;
    object-position: 0 50%;

    img {
      height: 200px;
      background: #ffffff;
    }
  }

  .artboard__info {
    min-width: 250px;
  }

  .artboard__name {
    font-size: 16px;
    padding-bottom: 8px;
  }

  .artboard__comments {
    font-size: 12px;
    color: $c_project_meta;
  }
}
