<div class="interface__header">
  <div class="header__breadcrumbs">
    <ul>
      <li class="breadcrumbs__item header__logo" routerLink="/projects"><strong>Sketch</strong> inspector</li>
      <li class="breadcrumbs__item">{{ project?.name | decode }}</li>
      <li class="breadcrumbs__item" *ngIf="selectedPage.name">{{ selectedPage.name | decode }}</li>
    </ul>
  </div>
  <div class="header__pagetitle">
    <input type="text" [(ngModel)]="project.name" *ngIf="project.name" (focusout)="saveProjectName()">
  </div>
  <div class="header__actions">
    <div class="button">Logout</div>
    <div class="button" routerLink="/projects">My designs</div>
  </div>
</div>

<div class="interface__container" *ngIf="project">
  <div class="pages">
    <div class="page active" id="selectallpages" (click)="selectAllPages($event)">All pages</div>
    <div class="page" [id]="page.pageId" *ngFor="let page of project?.pages" (click)="showPage(page)">
      {{ page.name | decode }}
    </div>
    <div class="shortcode red" (click)="deleteProject()"><i class="fa fa-trash" aria-hidden="true"></i> Delete</div>
    <div class="shortcode" [ngClass]="sharesuccess ? 'copied' : ''" ngxClipboard [cbContent]="(hosturl) + (project.shortcode)" (cbOnSuccess)="sharesuccess = true"><i class="fa fa-share-alt" aria-hidden="true"></i> {{ sharesuccess  ?  'URL copied' : 'Share'}}</div>
  </div>
  <div class="artboards" *ngIf="selectedPage">
    <div class="artboard" *ngFor="let artboard of selectedPage.artboards | reverse" [id]="artboard.id" (click)="showInspector(artboard)">
      <div class="artboard__preview">
        <img [src]="artboard.url" alt="Preview of {{ artboard.name }}">
      </div>
      <div class="artboard__info">
        <h3 class="artboard__name">{{ artboard.name | decode }}</h3>
        <span class="artboard__comments" *ngIf="projectService.projectComments">{{ projectService.projectComments | countComments:artboard.id }}</span>
      </div>
    </div>
  </div>
</div>

