<ng-container *ngFor="let layer of layers.layers; let idx = index">
  <div *ngIf="isVisible(layer)" [attr.data-objectid]="layer.do_objectID" class="hotspot" [ngClass]="getClassname(layer)" [ngStyle]="getStyle(layer, idx)" (click)="highlightHotspot($event, layer, false, true)" (mouseover)="highlightHotspot($event, layer, true, false)" (mouseout)="highlightHotspot($event, layer, false, false)">
    <!-- Recursive loop -->
    <app-viewer-hotspots *ngIf="layer.layers" [layers]="layer"></app-viewer-hotspots>
  </div>
</ng-container>
