<app-dimensions [layer]="layer" *ngIf="layer"></app-dimensions>
<app-text [layer]="layer" *ngIf="layer"></app-text>
<app-fills [layer]="layer" *ngIf="layer"></app-fills>
<app-borders [layer]="layer" *ngIf="layer"></app-borders>
<app-shadows [layer]="layer" *ngIf="layer"></app-shadows>
