<div class="sidebar__box properties dimensions" *ngIf="layer?.frame">
  <div class="sidebar__title">Dimensions</div>
  <div class="propertygroup">
    <div class="propertygroup__label">Position</div>
    <div class="property" *ngIf="layer.frame.x | isDefined">
      <span class="property__value" ngxClipboard [cbContent]="(layer.frame.x | round) + 'px'">{{ layer.frame.x | round }}px</span>
      <span class="property__extra">X</span>
    </div>
    <div class="property"  *ngIf="layer.frame.y | isDefined">
      <span class="property__value" ngxClipboard [cbContent]="(layer.frame.y | round) + 'px'">{{ layer.frame.y | round }}px</span>
      <span class="property__extra">Y</span>
    </div>
  </div>
  <div class="propertygroup">
    <div class="propertygroup__label">Size</div>
    <div class="property" *ngIf="layer.frame.width | isDefined">
      <span class="property__value" ngxClipboard [cbContent]="(layer.frame.width | round) + 'px'">{{ layer.frame.width | round }}px</span>
      <span class="property__extra">Width</span>
    </div>
    <div class="property"  *ngIf="layer.frame.height | isDefined">
      <span class="property__value" ngxClipboard [cbContent]="(layer.frame.height | round) + 'px'">{{ layer.frame.height | round }}px</span>
      <span class="property__extra">Height</span>
    </div>
  </div>
  <div class="propertygroup" *ngIf="layer.style | hasKey: 'contextSettings.opacity'">
    <div class="propertygroup__label">Opacity</div>
    <div class="property">
      <span class="property__value" ngxClipboard [cbContent]="(layer.style.contextSettings.opacity * 100 | round) + 'px'">{{ layer.style.contextSettings.opacity * 100 | round }}%</span>
    </div>
  </div>
</div>
