<router-outlet></router-outlet>

<div class="onlydesktop">
  <h1><i class="fa fa-diamond" aria-hidden="true"></i></h1>
  <p>
    Sorry, Sketch inspector is only available on large screens.
  </p>
</div>
