/**
 * Config
 */
$c_accent: #2A4AF1;
$c_back_header: #111729;
$c_back_sidebar: #111729;
$c_back_viewer: #222738;
$c_back_sidebar_title: #1F263C;
$c_back_layer_odd: #111729;
$c_back_layer_even: #171D2F;
$c_back_layercontrol: #1F263C;
$c_back_sidebar_seperator: #0A1126;
$c_back_icon: #737886;
$c_text: #ffffff;
$c_sidebar_extra: #737886;
$c_hotspot: #B00303;
$c_hotspot_selected: #FFCF00;
$c_button: #1E263C;
$c_border: #0A1126;
$c_auth: #0A1126;
$c_auth_border: #1E263C;
$c_start_back: #111729;
$c_start_box: #222738;
$c_project: #111729;
$c_project_preview: #222738;
$c_project_meta: #4E525F;
$c_layer_border: #080F25;
$c_sidebar_title: #1F253C;
$c_property: #171D2F;
$c_property_border: #0A1026;
$c_property_border_hover: #222738;
$c_code: #111111;

$d_header: 70px;
$d_sidebar: 300px;
$d_sidebar_item: 46px;
$d_property_h: 35px;
$d_property_w: 80px;
$d_property_w_full: 170px;
$d_property_spacing: 10px;
$d_button: 35px;
$d_button_padding: 20px;
$d_padding_w: 15px;
$d_radius: 3px;

/**
 * Mixins
 */
@mixin clearfix(){
  &:before,
  &:after{
    content: " ";
    display: table;
  }

  &:after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }

  & {
    *zoom: 1;
  }
}

/**
 * Only for browsers
 */
.onlydesktop {
  display: none;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: $c_back_viewer;
  padding: 120px 60px 0;
  text-align: center;

  @media (max-width: 1100px) {
    display: block;
  }


  h1 {
    margin-bottom: 30px;
    i {
      font-size: 50px;
      color: #4E525F;
    }
  }

  p {
    font-size: 16px;
    line-height: 1.8;
  }
}

/**
 * Common
 */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  width:100vw;
  height:100vh;
  overflow-x: hidden;

  &.overflow {
    overflow: hidden;
  }

  @media (max-width: 1100px) {
    overflow: hidden;
  }
}

body {
  width:100vw;
  height:100vh;
  min-width:1200px;
  font-family: 'Roboto', sans-serif;
  background: $c_back_viewer;
  color: $c_text;
  font-size: 14px;
  -webkit-user-select:none;

  &.overflow {
    overflow: hidden;
  }

  @media (max-width: 1100px) {
    overflow: hidden;
  }
}

strong {
  font-weight: 700;
}

a {
  color: $c_text;
  font-weight: 700;
  text-decoration: none;
}

.button {
  display: inline-block;
  height: $d_button;
  line-height: $d_button;
  padding: 0 $d_button_padding;
  border: 1px solid $c_button;
  border-radius: $d_radius;
  color: $c_text;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition: .2s all;
  font-weight: 400;

  &:hover {
    background: $c_button;
  }

  &.button--icon {
    position: relative;
    padding-left: 47px;

    i {
      position: absolute;
      left: 0;
      line-height: $d_button;
      background: rgba(0,0,0,.1);
      padding: 0 12px;
    }
  }

  &.button--google {
    background: #DF4A32;

    &:hover {
      background: darken(#DF4A32, 8);
    }
  }

  &.button--github {
    background: #444444;

    &:hover {
      background: darken(#444444, 4);
    }
  }

  &.button--anonymous {
    background: #4E525F;

    &:hover {
      background: darken(#4E525F, 4);
    }
  }
}

.interface__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: $d_header;
  padding: 0 $d_padding_w;
  background: $c_back_header;
  border-bottom: 1px solid $c_border;

  .header__breadcrumbs {
    flex: 1;
    height: $d_header;
    line-height: $d_header;

    li {
      display: inline-block;
      margin-left: $d_padding_w;
      padding-left: $d_padding_w;
      border-left: 1px solid #1F263C;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
        padding-left: 0;
        border-left: 0;
      }
    }
  }

  .header__pagetitle {
    flex: 1;
    text-align: center;
    font-size: 16px;
  }

  .header__actions {
    flex: 1;
    text-align: right;

    .button {
      margin: 0 0 0 $d_padding_w;
    }
  }
}

.interface__container {
  position: relative;
  width: 100vw;
  height: calc( 100vh - #{$d_header} );
  padding: $d_padding_w;
}

.interface__sidebar {
  position: absolute;
  top: 0;
  width: $d_sidebar;
  height: calc( 100vh - #{$d_header} );
  background: $c_back_sidebar;
  z-index: 2000;

  .sidebar__title {
    height: $d_sidebar_item;
    background: $c_sidebar_title;
    padding: 0 $d_padding_w;
    line-height: $d_sidebar_item;
    font-weight: 600;

    .sidebar__title-close {
      float: right;
      cursor: pointer;
    }
  }

  &.interface__sidebar--left {
    left: 0;
    border-right: 1px solid $c_border;
  }

  &.interface__sidebar--right {
    right: 0;
    border-left: 1px solid $c_border;
  }
}

::-webkit-scrollbar{width:8px;height:8px;background:#202123;border-radius:4px;}
::-webkit-scrollbar-thumb{border:1px solid rgba(255,255,255,.16);background-color:rgba(0,0,0,.64);border-radius:4px;}
::-webkit-scrollbar-corner,
::-webkit-resizer{background:#202123;}

.interface__viewer {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 70px);
  background: $c_back_viewer;
  overflow: auto;
  top: 0;
  left: 0;

  .interface__viewer-inner {
    position: relative;
    margin: 0 auto;
    width: 12800px;
    height: 12800px;

    .design {
      margin: 0 auto;
      position: absolute;
      left: 50%;
      top: 50%;
      background: #FFF;
      box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
      transition: all .15s ease;
    }
  }
}

.sidebar__box {
  margin-bottom: 10px;

  .sidebar__content {
    padding: 0 $d_padding_w;
  }

  app-viewer-layers {
    > ul:nth-child(even) {
      background: #171D2F;
    }

    > ul:nth-child(odd) {
      background: #111729;
    }
  }

  ul {
    display: block;

    li {
      list-style: none;
      position: relative;
      line-height: $d_sidebar_item;

      span {
        display: block;
        padding: 0 $d_padding_w 0 36px;
        height: $d_sidebar_item;
        border-bottom: 1px solid $c_layer_border;

        &:hover {
          cursor: pointer;
          background: $c_accent;
        }

        &:before,
        &:after {
          position: absolute;
          content: '';
          top: 16px;
          margin-left: -20px;
          background-size: contain;
          background-position: left center;
          width: 10px;
          height: 10px;
        }

        &:after {
          width: 8px;
          height: 8px;
          right: $d_padding_w;
        }
      }

      &.selected {
        > span {
          background: $c_accent;
        }
      }

      &.open {
        > app-viewer-layers > ul {
          display: block;
        }
      }

      // Nested lists
      ul {
        display: none;

        // Second niveau
        li span {
          padding-left: $d_padding_w * 2 + 21px;
        }

        // Third niveau
        ul li span {
          padding-left: $d_padding_w * 3 + 21px;
        }

        // Fourth niveau
        ul ul li span {
          padding-left: $d_padding_w * 4 + 21px;
        }
      }
    }
  }
}

.propertygroup {
  padding-left: 20px;
  padding-top: 10px;
  position: relative;
  @include clearfix;

  .propertygroup__label {
    display: block;
    float: left;
    font-weight: 500;
    width: 90px;
    line-height: 35px;
  }
}
.property {
  display: inline-block;
  width: 80px;
  margin-right: 10px;

  &.property--full {
    width: 170px;
    margin-right: 0;
  }

  &.property--content {
    width: 260px;
    height: auto;

    .property__value {
      text-align: left;
      height: auto;
      max-height: 69px;
      overflow-y: auto;
      line-height: 1.4;
      padding: 7px 10px;
    }
  }

  &.property--color {
    position: relative;
    float: right;
    margin-bottom: 10px;
    right: $d_padding_w;
    @include clearfix;

    .property__color {
      position: absolute;
      display: block;
      top: 1px;
      left: 1px;
      height: 33px;
      width: 33px;
      border-radius: 2px 0 0 2px;
    }

    .property__value {
      padding-left: 35px;
    }
  }

  .property__value {
    display: block;
    background: $c_property;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid $c_property_border;

    &:hover {
      cursor: pointer;
      border: 1px solid $c_property_border_hover;
    }

    &:not(:active) {
      transition: all 300ms ease-in-out;
    }

    &:active {
      transform: translateY(-6px);
      opacity: .3;
      transition: all 100ms ease-in-out;
    }
  }

  .property__extra {
    display: block;
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
    color: #ADADAD;
  }
}

.spinner {
  margin: 0;
  width: 25px;
  height: 34px;
  text-align: center;
  font-size: 10px;
  display: inline-block;
  float: left;
  margin-right: 8px;
}

.spinner > div {
  background-color: #ffffff;
  height: 100%;
  width: 2px;
  margin: 0 2px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(0.8) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(0.8);
       -webkit-transform: scaleY(0.8);
     }
}
